
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Weatherpedia</h2>

<form method="get" action="/searchcity" > 
<h4>City:</h4> <input type="text" name="cityname" required /><br/>
    <input type="submit" value="Weather Details">
</form>

